<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %} Восстановление пароля  {% endblock %}
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href = "{% static 'css/bootstrap.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/registred_style.css' %}">
</head>
<body>
{% block content %}
<div class="registration_wrapqsad">
	<div class="registration_pass_fo"><a class = "main_link" href="{% url 'shop:main' %}">Главная</a>  /  <span>Восстановление пароля</span>
	</div>
	<div class="title_forgot"><h1>Восстановление пароля</h1></div>
	
	<div class="password_forgot_wrap">
		<div class="password_forgot_title">Подтвердите адрес вашей электронной почты. На него будет отправлен пароль. </div>	
		<form class="password_forgot_form" method="POST"> {% csrf_token %}
			<div class="password_forgot_lable">E-mail<span>*</span></div>
			<input class="password_forgot_input" type="email" name="email_password_forgot" placeholder="sample@domail.ru">
			<div><button>Напомнить пароль</button></div>
		</form>

		
	</div>
	
</div>
{% endblock %}
</body>
</html>