<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %} Пользовательское соглашение  {% endblock %}
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href = "{% static 'css/bootstrap.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/registred_style.css' %}">
</head>
{% block content %}
<div class="user_agreement_class" style="width: 1508px;">
    <div class="registration_pass"><a class = "main_link" href="{% url 'shop:main' %}">Главная</a> /  <span>Пользовательское соглашение</span> </div>
    <h1>Пользовательское соглашение</h1>
    <div class="site_main_inner clear-self  ">


        <div class="site_main_body">


            Я согласен(на) на обработку моих персональных данных <p>Настоящим Я, действуя своей волей и в своем интересе,
            при размещении (вводе) своих персональных данных на Интернет сайте ____ общества с ограниченной ответственностью
            _________ (ИНН_________, ОГРН__________, далее - Оператор) подтверждаю свое согласие на обработку указанных мной
            персональных данных Оператором в целях предложения мне услуг, новых услуг, предлагаемых Оператором, в целях
            проведения опросов, анкетирования, рекламных и маркетинговых исследований в отношении услуг, предоставляемых
            Оператором, в том числе путем осуществления прямых контактов со мною посредством средств связи, указанных мной
            на настоящем сайте.Настоящее право (согласие) предоставляется на осуществление любых действий в отношении моих
            персональных данных, которые необходимы и желаемы для достижения вышеуказанных целей, включая, без ограничения,
            сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу,
            обезличивание, блокирование и уничтожение персональных данных, под которыми понимаются все данные, указанные
            мной на настоящем сайте.<br/>
            Настоящим подтверждаю, что уведомлен о том, что обработка персональных данных осуществляется Оператором любым
            способом, в том числе как с использованием средств автоматизации (включая программное обеспечение), так и без
            использования средств автоматизации (с использованием различных материальных носителей, включая бумажные
            носители).</p>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>